NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_STORAGE_URL=

# Server-only env vars (tidak di-expose ke browser, untuk generateMetadata)
API_URL=${NEXT_PUBLIC_API_URL}
STORAGE_URL=${NEXT_PUBLIC_STORAGE_URL}

NEXT_PUBLIC_SITE_URL=
